# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user


# npm files
node_modules/
JS/build.js

# c files
src/*.so
src/*.o


_ignore
